<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=DeshiHutBazar;Integrated Security=True" />
    <add name="WebDeshiHutBazarEntityContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=DeshiHutBazar;Integrated Security=True" />
    <!--<add name="WebDeshiHutBazarEntityContext" providerName="System.Data.SqlClient" connectionString="Data Source=94.237.64.137;Initial Catalog=DeshiAfricaDB;User ID=sa;Password=Naim@123" />-->
    <!--<add name="WebDeshiHutBazarEntityContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:deshihutbazardbsvr.database.windows.net,1433;Initial Catalog=DeshiHutBazarDB;Persist Security Info=False;User ID=deshisqladmin;Password=Deshi@1n;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="WebDeshiHutBazarEntityContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:deshihutbazardbsvr.database.windows.net,1433;Initial Catalog=DeshiHutBazarDBCopy;Persist Security Info=False;User ID=deshisqladmin;Password=Deshi@1n;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>