@model WebDeshiHutBazar.PostViewModel
<div class="row" id="panelSearchPosts">   
    <div class="col-sm-12 col-md-12 col-xs-12">
        @Html.DropDownListFor(a => a.PostTypeID, Model.AV_PostType, new { @class = "fff" })
    </div>
    <div class="col-sm-12 col-md-6 col-xs-12">
        @Html.DropDownListFor(a => a.CategoryID, Model.AV_Category, new { @class = "fff" })
    </div>
    <div class="col-sm-12 col-md-6 col-xs-12">
        @Html.DropDownListFor(a => a.SubCategoryID, Model.AV_SubCategory, new { @class = "fff" })
    </div>  
    <div class="row margin-padding-zero">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
            <button class="primary-button" type="submit" id="btnSearchSelectPost">
                <i class="fa fa-search"></i>
                SEARCH
            </button>
        </div>
    </div>
</div>
