@model WebDeshiHutBazar.GroupPanelConfigurationViewModel

<div data-groupid="9999" class="select-modal-post modal fade new-modal" id="modal-select-posts-9999" tabindex="-1" role="dialog" aria-labelledby="select-posts-Title" aria-hidden="true">
    <div class="new-modal-content">
        <h4 class="main-title">
            SELECT PANEL POSTS
        </h4>
        
        @{
                        var post = new PostViewModel();
                        post.AV_Category = WebDeshiHutBazar.DropDownDataList.GetCategoryList();
                        post.AV_SubCategory = WebDeshiHutBazar.DropDownDataList.GetSubCategoryList();
                        post.AV_PostType = WebDeshiHutBazar.DropDownDataList.GetPostTypeList();
                        post.AV_State = WebDeshiHutBazar.DropDownDataList.GetAllStateList();
        }
       
            <a href="#" class="btn flex" id="icoDown" style="display:none;">
                <span class="glyphicon glyphicon-arrow-down"></span> Show
            </a>
            <a href="#" class="btn flex" id="icoUp">
                <span class="glyphicon glyphicon-arrow-up"></span> Hide
            </a>
        <div id="divAdvancedSearchPanel">
            @Html.Partial("../../Areas/Admin/Views/ContentPanelConfiguration/_AdvancedSearchPanelConfig", post)
        </div>
        <div id="divSearchingMessage" style="display:none;text-align:center;">
            Searching...
        </div>
        <div id="selectPostsContainer"></div>
    </div>
    <div class="new-modal-footer">
        <button type="button" class="flat-button flex pull-right" data-dismiss="modal">CLOSE</button>
    </div>
</div>