@model WebDeshiHutBazar.GroupPanelConfigurationViewModel

<div class="parent-update-config fade modal new-modal" 
     id="modal-edit-group-panel-9999" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="add-group-panel-Title" 
     aria-hidden="true" 
     style="height:410px;max-height:410px;">
    <form id="frmEditConfigPanel" class="new-modal-content template-modal-content">
        <h4 class="main-title">EDIT CONFIGURATION</h4>
        <div class="modal-body" id="editConfigContainer"></div>
    </form>
    <div class="new-modal-footer">
        <button type="button" class="flat-button flex pull-right" data-dismiss="modal">CLOSE</button>
        <a id="btn-update-9999" class="flat-button flex pull-right btn-update-config">UPDATE CONFIG</a>
    </div>
</div>
