@model WebDeshiHutBazar.GroupPanelConfigurationViewModel
<table class="table" style="width:100%;">
    <thead></thead>
    <tbody class="example sorted_head">
        @if (Model.ListGroupTemplatePost != null && Model.ListGroupTemplatePost.Count > 0)
        {
            foreach (var item in Model.ListGroupTemplatePost.ToList())
            {
                <tr class="padding-margin-zero" style="border:0px;">
                    <td class="padding-margin-zero" style="border:0px;">
                        @Html.HiddenFor(a => item.GroupPostID, new { @class = "GroupPostID" })
                        @Html.Partial("../../Areas/Admin/Views/ContentPanelConfiguration/_SingleGroupPost", (WebDeshiHutBazar.TemplateDisplayViewModel)item)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scriptsapp {
    <script src="~/Scripts/js/LetItGo/naimul.letitgo.managepost.js" type="text/javascript"></script>
}