<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
   <!-- <add name="WebBusinessPlatformEntityContext" providerName="System.Data.SqlClient" connectionString="Data Source=94.237.64.137;Initial Catalog=DeshiAfricaDB;User ID=sa;Password=Naim@123" />-->
    <add name="WebDeshiHutBazarEntityContext" providerName="System.Data.SqlClient" connectionString="Data Source=JOHN;Initial Catalog=DeshiAfricaDBNG;Integrated Security=True" /> 
  <!--<add name="WebBusinessPlatformEntityContext" providerName="System.Data.SqlClient" connectionString="Data Source=JOHN;Initial Catalog=DeshiBangladeshDB;Integrated Security=True" /> -->
  </connectionStrings>
  <appSettings>
    <add key="ProductCartAgentPhoneNumber" value="01742600276" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServerUrl" value="https://www.deshihutbazar.com/" />
    <!--"htttp://deshitesstapp.azurewebsites.net"/>-->
    <add key="MarketPageSize" value="50" />
    <add key="PostValidDays" value="90" />
    <add key="MonthlyFreePostQuota" value="1" />
    <add key="ManagePostPageSize" value="150" />
    <add key="DefaultAdminEmail" value="naimul.prodhan@gmail.com" />
    <add key="PostImageSize" value="10097152" />
    <add key="CountryCode" value="7" />
    <add key="CurrencyCode" value="6" />
    <add key="TimeSlotStyle" value="1" />
    <add key="DefaultSenderEmail" value="deshihutbazar.info@gmail.com" />
    <add key="DefaultCompanyWebsite" value="http://" />
    <add key="DefaultCompanyPhone" value="0088-01765805853" />
    <add key="DefaultCompanyName" value="Deshi Hut Bazar" />
    <add key="DefaultParentCompanyName" value="Nasima Data Technology" />
    <add key="DefaultCompanyAddress" value="Road No. 4, House No. 11/A, Dhanmondi R/A, Dhaka 1205, Bangladesh" />
    <add key="DefaultCompanyHOAddress" value="1/1 Sheikh Saheb Bazar Road, Ajimpur, Dhaka 1205, Bangladesh" />
    <add key="BkashPaymentGatewayCommissionPercent" value="2" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/LoginRedirect" name=".ASPXAUTH" cookieless="UseCookies" requireSSL="false" slidingExpiration="false" timeout="60" />
    </authentication>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache2Mins" duration="120" varyByParam="*" location="Server" />
          <add name="CacheHomePage" duration="600" varyByParam="isLogout" location="Server" />
          <add name="Cache30Mins" duration="1800" varyByParam="*" location="Server" />
          <add name="Cache30MinsItemDetail" duration="1900" varyByParam="postId" location="Server" />
          <add name="Cache60Mins" duration="3660" varyByParam="*" location="Server" />
          <add name="Cache1day" duration="48000" location="ServerAndClient" />
          <add name="Cache1dayServerNBrowser" duration="60000" location="ServerAndClient" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.2.0" newVersion="5.11.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>-->
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>-->
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <!--<add name="FaceBookOAuth" path="facebookouth.axd" verb="POST,GET,HEAD" type="VineMedia.Facebook.FacebookOAuthHandler, VineMedia.Facebook" preCondition="integratedMode" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<dotless minifyCss="false" cache="true" web="true" strictMath="false" />-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <unity configSource="Unity.config" />
</configuration>