@model WebDeshiHutBazar.AccountViewModel

<div class="row">
    <div class="col-md-12 text-center">
        <a href="@Url.Action("Recharge", "Shopping")"
           class="btn btn-success btn-lg">
            <i class="fa fa-cog fa-fw"></i>
            @Common.Language.LanguageDefault.ButtonBUYCREDIT
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <a href="@Url.Action("ChangePackage", "Shopping")"
           class="btn btn-success btn-lg">
            <i class="fa fa-cog fa-fw"></i>
            @Common.Language.LanguageDefault.ButtonBUYPACKAGE
        </a>
    </div>
</div>
<br />

