@model WebDeshiHutBazar.HomeViewModel
@{
    ViewBag.Title = Common.Language.LanguageDefault.ViewBagTitleResource;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = true;
}
<div class="container home-container" id="homePageContent">
    @Html.Partial("../Shared/_PageContent", Model.ContentInfoViewModel)
</div>
@section scriptsapp {
    <script type="text/javascript">
            PAGE_NAME = '@Model.PageName';            
    </script>
    <script src="~/Scripts/js/UserSession/naimul.letitgo.user.session.js" type="text/javascript"></script>
}


