@model WebDeshiHutBazar.BikashBillTransactonViewModel
@{
    ViewBag.Title = Common.Language.LanguageDefault.ViewBagTitleDonate;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = false;
}
<div class="container">
    <div class="row card-form">
        <h4 class="main-title">
            Thank you very much!
        </h4>
        <p class="info text-info">
            Thanks for your help! We really appretiate your contribution 
            to help us run the portal with stable and consistent manner financially.
        </p>
        <br />
        <p class="info text-info">
            For any issues, please call me at <span style="color:green;">0176 580 5853</span>!!!
        </p>
    </div>
</div>
@section scriptsapp {
    <script type="text/javascript">
        PAGE_NAME = '@Model.PageName';
    </script>
    <script src="~/Scripts/js/naimul.ui.editor.phone.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.editor.price.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.validation.js" type="text/javascript"></script>
    <script src="~/Scripts/js/UserSession/naimul.letitgo.user.session.js" type="text/javascript"></script>
}




